#mainContent {
  /* border: 1px red solid; */
  /* background-color: rgb(255,230,230); */
}

.navbar{
  color:orange;
}

.nav-link{
  color:orange;
  font-size: 22px;
  padding-left: 25px;
}

#left{

  text-align: center;
}
#middle{
  text-align: center;
}

.container{
  width: 100%;
}

#firemanView{
  height: 100%;
  background-color: darkGray;
  margin-top: 5px;
  margin-bottom: 5px;
}
#viewButton{
  height: 100%;
}

#memberInfo{
  background-color: darkgray;
}
#memberCerts{
  background-color: gray;
}
#certList{
  outline-style: solid;
  text-align: center;
  background-color: darkGray;
}
#certView{
  background-color: darkGray;
}
.custom-select{
  margin-right: 15px;
  margin-bottom: 15px;
}
