#mainContent {
  /* border: 1px red solid; */
  /* background-color: rgb(255,230,230); */
}
.navbar{
  color:orange;
  border-bottom:solid;
  border-bottom-width: thin;
}

#secondBorder{
  border-bottom: solid;
  border-width: thin;
}

.navtitle{
  padding-right:3%;
}
.nav-link{
  color:orange;
  font-size: 22px;
  padding-left: 25px;
  position:relative;
}

nav a {
  color:orange;
}

nav a:hover{
  color:white;
}
#active{
  background-color:orange;
  color:black;
  background-position: center;
  text-align: center;
}

#left{

  text-align: center;
}
#middle{
  text-align: center;
}

.container{
  width: 100%;
}

#firemanView{
  height: 100%;
  background-color: darkGray;
  margin-top: 5px;
  margin-bottom: 5px;
}

#viewButton{
  height: 100%;
  color: orange;
  width:100%;
}

#memberInfo{
  background-color: darkgray;
  text-align:center;
  border-bottom:solid;
  border-bottom-width: thin;
}
#reportPage{
  background-color: darkgray;
  text-align:center;
  border-bottom:solid;
  border-bottom-width: thin;
}

#certInfo{
  background-color: darkgray;
  text-align:center;
  border-bottom:solid;
  border-bottom-width: thin;
}

#memberCerts{
  border-bottom:solid;
  border-left:solid;
  border-width:thin;
}
#editForm .col-3{
  font-family: sans-serif;
  text-align: right;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
}

#memberInfo .col-2{
}

#memberInfo .row{
  margin-left:auto;
  margin-right: auto;
}

#address{
  width:250px;
  height:100px;
  word-wrap: normal;
}

#memberCerts{
  background-color: gray;
  width:100%;
  text-align: center;
}

#certList{
  outline-style: solid;
  text-align: center;
  background-color: darkGray;
}
#certView{
  background-color: lightgray;
}
.custom-select{
  margin-right: 15px;
  margin-bottom: 15px;
  width:auto;
}

#certReporttbl th{
border:solid #ddd;
border-bottom:double #aaa;
text-align:left;
font-weight:500;
font-family:sans-serif;
font-style:bold;
}

/* #certReporttbl td{
text-align:left;
border:solid #ddd;
border-bottom: solid #ddd;
font-family:sans-serif;
}

#certReporttbl tr{
text-align:left;
border:solid;
}

#certReporttbl tr:nth-child(even){
  background-color: #f2f2f2;
}

#certReporttbl{
  width:100%;
} */

#tableHead{
  font-style:italic;
  text-align: center;
}

#holdTbl{
  text-align: left;
}

/* To do: add JS function to match tracked and add heights*/
#addCert{
  text-align: center;
  background-color: lightgray;
  max-width: 610px;
}

#certDateInput{
   width:auto;
}

#label{
  font-weight: bold;
  font-size: 100%;
  color:black;
}

body, html {
    height: 100%;
}

.indexButton{
  box-shadow:inset 0px 10px 13px -6px #8a8a8a;
  	background:linear-gradient(to bottom, #000000 5%, #4d4d4d 100%);
  	background-color:#000000;
  	border-radius:14px;
  	border:2px solid #ffa600;
  	display:inline-block;
  	cursor:pointer;
  	color:white;
  	font-family:Arial;
  	font-size:22px;
  	font-weight:bold;
  	padding:24px 65px;
  	text-decoration:none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/firefighter.jpg");
  height: 300px;
  background-position: center 60%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top:8px;
}

.hero-text {
  font-family: serif;
  text-align: center;
  position: inherit;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orange;
  border-top: solid;
  border-bottom: solid;

}

.form-control{
  border:solid;
  border-width:thin;
  width:90%;
  display:inline;
}

.form-group label{
font-family:sans-serif;
font-weight: bold;
font-style:italic;
text-align: center;
font-size:120%;
}

#submit{
  border-radius:8px;
  margin-top:5%;
}

#addTitle{
padding-bottom:8%;
}

/* #descriptionInput{
  overflow-wrap: break;
} */

.certBox{
  margin-bottom:5px;
}

.container-fluid{
  width:75%;
  max-width: 600px;
}
