<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <h1 class="navtitle"><a href="./index.html"> OCFR </a></h1> <!--Please match css Addy-->
  <a class="nav-link" href="./index.html">Members</a>
  <a class="nav-link" href="./certs.html">Certifications</a>
  <a class="nav-link" href="./reports.html">Reports</a>
</nav>

<div id="secondBorder">
</div>
<body>

  <div class="container-fluid" id="memberInfo">
    <div class="row">
      <div class="col-6">
        <br>
        <h1> {{currentPerson.firstName}} {{currentPerson.lastName}} </h1>
        <form @submit.prevent="savePerson" id="editForm">
          <div class="form-group">
            <div class="row">
              <label class="col-3">First name:</label>
              <div class="col-2"><input class="personInfo" disabled type="text" name="firstName" v-model="currentPerson.firstName"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Last name:</label>
              <div class="col-2"><input class="personInfo" disabled type="text" name="lastName" v-model="currentPerson.lastName"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-3"> Radio Num:</label>
              <div class="col-2"><input class="personInfo" disabled type="text" name="radioNum" v-model="currentPerson.radioNum"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-3"> Station Number: </div>
              <div class="col-2"><input class="personInfo" disabled type="text" name="stationNumber" v-model="currentPerson.stationNumber"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-3"> DOB: </label>
              <div class="col-2"><input class="personInfo" disabled type="date" name="DOB" v-model="currentPerson.DOB"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Gender: </label>
              <div class="col-2">
                M <input class="personInfo" disabled type="radio" id="male" value="M" v-model="currentPerson.gender">
                F <input class="personInfo" disabled type="radio" id="female" value="F" v-model="currentPerson.gender">
              </div>
            </div>
          </div>
          <h3> Contact Information </h3>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Address: </label>
              <div class="col-2"><input class="personInfo" id="address" disabled type="text" name="address" v-model="currentPerson.address"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Email:</div>
              <div class="col-2"><input class="personInfo" disabled type="text" name="email" v-model="currentPerson.email"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Activate? </label>
              <div class="col-2">
                Yes <input class="personInfo" disabled type="radio" id="active" value=1 v-model="currentPerson.isActive">
                No <input class="personInfo" disabled type="radio" id="inactive" value=0 v-model="currentPerson.isActive">
              </div>
            </div>
          </div>
          <div class="form-group" v-for="(num, index) in userNums">
            <div class="row">
              <div class="col-3">Phone number {{++index}}</div>
              <div class="col-2"><input class="personInfo" disabled type="text" name="number" v-model="num.phoneNum"></div>

            </div>
          </div>
          <br>
          <input class="btn-dark" id="submitButton" type="submit" onclick="cancelEdit()" value="Submit changes" style="display:none">
        </form>
        <br>
        <!-- what if we have all three buttons on the same line? -->
        <button @click="addMember()" onclick="editInfo()" id="addButton"> Add New Record </button>
        <button onclick="editInfo()" id="editButton"> Edit Record </button>
        <button onclick="cancelEdit()" id="cancelButton" style="display:none"> Cancel Edit </button>
        <br>
        <br>
        <button @click="deleteMember()" class="btn-danger" id="deleteButton"> Delete Member Record </button>
        <br>
      </div>
      <div class="col-6" id="memberCerts">
        <br>
        <table class="table table-striped table-light table-hover table-bordered" id="holdTbl">
          <thead class="thead-dark">
            <tr>
              <th colspan="100%">
                <h1 align="middle">Certifications</h1>
              </th>
            </tr>
            <tr>
              <th>Certification</th>
              <th>Issued</th>
              <th>Expires</th>
              <th>Status</th>
            </tr>
          </thead>
          <!-- <li v-for="person in activePersons"> <h3> {{person.firstName}} {{person.lastName}} </h3> <a :href="'./viewMember?id='+person.personId"> <button type="button" class="btn btn-dark" id="viewButton">View</button> </a></li> -->
          <tr v-for="cert in userCerts">
            <td>{{cert.cName}}</td>
            <td>{{cert.renewedDate}}</td>
            <td>{{cert.expDate}}</td>
            <td v-if="new Date(cert.expDate) <= new Date()"> EXPIRED </td>
            <td v-else> Valid </td>
          </tr>
        </table>
        <br>
        <br>
        <form id="addCert">
          <h1 id ="addTitle"> Add Certification </h1>
          <div class="form-group">
            <label for="certDateIssued" id="label">Date Issued</label>
            <input type="date" class="form-control" id="certDateIssued">

            <label for="certDateExpires" id="label">Expirty Date</label>
            <input type="date" class="form-control" id="certDateExpires">
          </div>
          <label for="certTypeInput" id="label">Certification</label>
          <select class="custom-select">
            <option v-for="cert2 in allCerts" :value ="cert2.cName">{{cert2.cName}}</option>
          </select>
          <input class="btn-dark" type="submit" value="Add">
        </form>
      </div>

        <script src="js/buttons.js"> </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/memberDetails.app.js"></script>
    </body>

  </html>
