<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/site.css">
  <script src="js/buttons.js"> </script>

</head>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <h1 class="navtitle"><a href="./index.html"> OCFR </a></h1> <!--Please match css Addy-->
  <a class="nav-link" href="./index.html">Members</a>
  <a class="nav-link" href="./certs.html">Certifications</a>
  <a class="nav-link" href="./reports.html">Certification Reports</a>
  <a class="nav-link" href="./memberReport.html">Member Reports</a>
</nav>

<div id="secondBorder">
</div>
<body>

  <div class="container-fluid" id="memberInfo">
    <div class="row">
      <div class="col-6">
        <br>
        <h1> {{currentPerson.firstName}} {{currentPerson.lastName}} </h1>
        <form @submit.prevent="savePerson" id="editForm">
          <div class="form-group">
            <div class="row">
              <label class="col-3">First name:</label>
              <div class="col-2"><input class="personInfo" disabled type="text" name="firstName" v-model="currentPerson.firstName" required data-parsley-validateString></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Last name:</label>
              <div class="col-2"><input class="personInfo" disabled type="text" name="lastName" v-model="currentPerson.lastName" required data-parsley-validateString></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-3"> Radio #:</label>
              <div class="col-2"><input class="personInfo" disabled type="text" name="radioNum" v-model="currentPerson.radioNum" required minlength="2" maxlength="2" data-parsley-validateNumber></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-3"> Station #: </div>
              <div class="col-2"><input class="personInfo" disabled type="text" name="stationNumber" v-model="currentPerson.stationNumber" required minlength="5" maxlength="5" data-parsley-validateNumber></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-3"> DOB: </label>
              <div class="col-2"><input class="personInfo" disabled type="date" name="DOB" v-model="currentPerson.DOB" required minlength="10" maxlength="10" data-parsley-validateDate></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Gender: </label>
              <div class="col-2">
                M <input class="personInfo" disabled type="radio" id="male" value="M" v-model="currentPerson.gender" required>
                F <input class="personInfo" disabled type="radio" id="female" value="F" v-model="currentPerson.gender">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Active? </label>
              <div class="col-2">
                Y <input class="personInfo" disabled type="radio" id="active" value=1 v-model="currentPerson.isActive" required><br>
                N <input class="personInfo" disabled type="radio" id="inactive" value=0 v-model="currentPerson.isActive">
              </div>
            </div>
          </div>
          <h3> Contact Information </h3>
          <div class="form-group">
            <div class="row">
              <label class="col-3"> Address: </label>
              <div class="col-2"><textarea class="personInfo" id="address" disabled type="text" name="address" v-model="currentPerson.address" required></textarea></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-3"> Email:</div>
              <div class="col-2"><input class="personInfo" disabled type="text" name="email" v-model="currentPerson.email" required></div>
            </div>
          </div>

          <div class="form-group" v-for="(num, index) in userNums">
            <div class="row">
              <div class="col-3">Phone # {{++index}}</div>
              <div class="col-2"> <input class="personInfo" disabled type="text" name="number" v-model="num.phoneNum" required> </div>
                <div class="col-5"><button class="deleteNumberButton" onClick="deletePhone(num)"> x </button></div>
            </div>
          </div>

          <div class="form-group standard" id="addNum" style="display:none">
            <div class="row">
            <div class="col-3">Add #: </div>
            <div class="col-2"> <input type="text" name="number" enabled v-model="addingNum"> </div>
            <div class="col-5"><button type="button" @click="postNumber(currentPerson.personId, addingNum)"> Submit </button></div>
          </div>
        </div>
          <br>
          <input class="btn-dark" id="submitButton" type="submit" onclick="cancelEdit()" value="Submit changes" style="display:none">
        </form>
        <!-- what if we have all three buttons on the same line? -->
        <button onclick="editInfo()" id="editButton"> Edit Record </button>
        <button onclick="addNum()"> Add Phone Number </button>
        <button onclick="cancelEdit()" id="cancelButton" style="display:none"> Cancel Edit </button>
        <br>
        <br>
        <button @click="deleteMember()" class="btn-danger" id="deleteButton"> Delete Member Record </button>
        <br>
        <br>
      </div>
      <div class="col-6" id="memberCerts">
        <br>
        <table class="table table-striped table-light table-hover table-bordered" id="holdTbl">
          <thead class="thead-dark">
            <tr>
              <th colspan="100%">
                <h1 align="middle">Certifications</h1>
              </th>
            </tr>
            <tr>
              <th>Certification</th>
              <th>Issued</th>
              <th>Expires</th>
              <th>Status</th>
            </tr>
          </thead>
          <!-- <li v-for="person in activePersons"> <h3> {{person.firstName}} {{person.lastName}} </h3> <a :href="'./viewMember?id='+person.personId"> <button type="button" class="btn btn-dark" id="viewButton">View</button> </a></li> -->
          <tr v-for="cert in userCerts">
            <td>{{cert.cName}}</td>
            <td>{{cert.renewedDate}}</td>
            <td>{{cert.expDate}}</td>
            <td v-if="new Date(cert.expDate) <= new Date()"> EXPIRED </td>
            <td v-else> Valid </td>
          </tr>
        </table>
        <br>
        <br>
        <form id="addCert" @submit.prevent="addCertForPerson">
          <h1 id ="addTitle"> Add Certification </h1>
          <div class="form-group">
            <label for="certDateIssued" id="label">Date Issued</label>
            <input type="date" class="form-control" id="certDateIssued" v-model ="currentUserCert.renewedDate" requried/>
            <label for="certDateExpires" id="label">Expiry Date</label>
            <input type="date" class="form-control" id="certDateExpires" v-model ="currentUserCert.expDate" required/>
          </div>
          <label for="certTypeInput" id="label">Certification</label>
          <select class="custom-select" v-model ="currentUserCert.cName">
            <option v-for="cert2 in allCerts" :value ="cert2.cName" >{{cert2.cName}}</option>
          </select>
          <input class="btn-dark" type="submit" value="Add">
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/memberDetails.app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/parsley.min.js"></script>

</body>
</html>
